<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ciccc_cirac.lifecycleproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntentexampleA"
            android:label="Activity A" />
        <activity
            android:name=".IntentexampleB"
            android:label="Activity B" />
        <activity
            android:name=".ScoreCounter"
            android:label="Activity Score" />
        <activity
            android:name=".ToastExample"
            android:label="Pizza Order" />
        <activity
            android:name=".NormalListViewEx"
            android:label="list example" />
        <activity android:name=".MenuExample" />
        <activity android:name=".GridExample" />
        <activity android:name=".ContextMenuExample" />
        <activity android:name=".PopUpMenuExample" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".recycler.RecycleActivity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".listview.FrameLayoutActivity" />
        <activity android:name=".listview.TableLayoutActivity" />
        <activity android:name=".listview.LinearLayoutActivity" />
        <activity android:name=".listview.RelaytiveLayoutActivity" />
        <activity android:name=".listview.GridViewActivity" />
        <activity android:name=".listview.ListViewActivity2" />
        <activity android:name=".listview.RecyclerViewActivity" />
        <activity
            android:name=".movie.MovieActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".picker.DateTimePickerActivity" />
        <activity android:name=".preference.PreferenceActivity" />
        <activity android:name=".preference.MainPreferenceActivity">
        </activity>
        <activity
            android:name=".setting.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.example.ciccc_cirac.lifecycleproject.MainActivity" />-->
        </activity>
        <activity android:name=".service.ServiceActivity">
        </activity>
        <activity android:name=".service.NextActivity">
        </activity>
        <service
            android:name=".service.MyService"
            android:enabled="true" />
        <service
            android:name=".service.SleepClass"
            android:enabled="true" />
        <activity android:name=".service.IntentServiceActivity">
        </activity>
        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        <activity android:name=".thread.ThreadImageDlActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>